.addcart__image {
  width: 100% !important;
  height: 20vh !important;
}
.addcart__heading {
  text-align: center !important;
}

.cart__items {
  width: 36% !important;
  height: 400px !important;
  max-height: 100vh !important;
  /* border: 2px solid black; */
  background-color: aliceblue !important;
  position: relative;
  left: 32% !important;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cart__item {
  width: 80% !important;
  height: 20px !important;
  position: relative;
  top: 12px !important;
  margin: auto auto !important;
  padding: 12px 12px !important;
}
.cart__itemname{
    font-size: 12px !important;
}
.cart__image {
   align-items: start;
  width: 40px !important;
  height: 40px !important;
  object-fit: contain !important;
}
.cart__iteminfo{
    align-items: center !important;
    margin-top: 12px !important;
    background-color: aqua !important;
}
.cart__itemprice{
    font-size: 12px !important;
}

.btn--state-delete{
    background-color: red !important;
    border-radius: 0 !important;
}